# general modules
django==4.2.10
python-decouple
Pillow
djangorestframework


# third party modules
markdown       
django-filter  
drf-yasg[validation]
djangorestframework-simplejwt
djoser
flake8

# email third party modules
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django
Faker